@font-face {
  font-family: geral;
  src: url(./fonts/Lobster-Regular.ttf);
}

.container{
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-width: 280px;
  min-height: 500px;
  align-items: center;
  margin-top: 20px;
  border: 3px solid chartreuse;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
}


.app-title{
  text-align: center;
  margin: 20px auto;
  padding: 10px 50px;
  text-shadow: 3px 3px 5px #111;
  border: 1px solid chartreuse;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
  font-family: geral;
  color: chartreuse;
  width: 60vw;
  min-width: 250px;
 
}